@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Merienda:wght@300&family=Lato:wght@300&display=swap');

* {
    margin:0;
    padding: 0;
    border: 0;
}

body{
    font-family: Lato, sans-serif;
    font-weight: 800;
    color: #a8c082;
}

/* headings and logo */

h1, h2 {
    font-family: Italiana, sans-serif;
    text-transform: capitalize;
    letter-spacing: 8px;
    color: #a8c082;
}

#logo {
    float: left;
    font-size: 380%;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: #a8c082 solid 2px;
}

.active {
    border-bottom: #a8c082 solid 2px;
}

header #logo {
    width: 150px;
}

/* homepage video and text */

.back-video {
    position: relative;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

#cover-text, #cover-text h2 {
    color: #fff;
    text-align: center;
    font-family: Merienda, sans-serif
}

#cover-text {
    font-size: 70%;
    width: 330px;
    height: 110px;
    padding-top: 25px;
    padding-left: 45px;
    padding-right: 30px;
    background-color: rgba(168, 192, 130, .9);
    bottom: -230px;
    right: 100px;
    position: absolute;
    border-radius: 50px;
}

/* introduction */

.introduction {
    background-color: #fff;
}
.section {
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}

.container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.content {
    margin-bottom: 100px;
}

.content-section {
    float: left;
    width: 80%;
}

.image-section {
    float: right;
    width: 40%;
}

.image-section img {
    width: 80%;
    height: 515px;
    border-radius: 35px;
    margin-left: 50px;
}

.content-section .title {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

.content-section .content h3 {
    margin-top: 50px;
    color: #a8c082;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;

}
.content-section .content p {
    margin-top: 50px;
    color: #a8c082;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 120px;
}

.content-section .content .button {
    margin-bottom: 50px;
    text-align: center;
    margin-left: 80px;
    display: inline;
}

.content-section .content .button a {
    background-color: #a8c082;
    padding: 10px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;
    font-family: Italiana, sans-serif;
    border-radius: 30px;
}

.content-section .content .button a:hover {
    background-color: #fff;
    color: #a8c082;
}

/* pillars */

#pillars {
    background-image: url(../images/pexels-jackson-jorvan-605494.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#pillars div {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    width: 20%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#pillars h2 {
    color: #fff;
}

#pillars h3 {
    margin-top: 20px;   
}

/* footer */

footer {
    height: 150px;
}

footer > h2 {
    
    margin-top: 100px;
    text-align: center;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #a8c082;
}

/* benefits page */

#benefits {
    height: 600px;
}

#welcome {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 280%;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    padding-top: 30px;
    margin: 0;
}

hr {
    border-top: 1px solid #a8c082;
    width: 100%;
    margin: 10px 0
}

.left-about-heading {
    width: 65%;
    float: right;
    line-height: 22px;
    clear: both;
    margin-bottom: 70px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 22px;
    clear: both;
    margin-bottom: 70px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url(../images/Benefits-image.jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
}

/* techniques gallery page */

.container-gallery {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box {
    width: 150px;
    height: 500px;
    margin: 10px;
    border-radius: 50px;
    background: url(../images/breathe-image.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    transition: width 0.5s;
}

.img-box:nth-child(2) {
    background-image: url(../images/muscle-relaxation-image.jpg);
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(3) {
    background-image: url(../images/walk-image.jpg);
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(4) {
    background-image: url(../images/journal-image.jpg);
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(5) {
    background-image: url(../images/relax-image.jpg);
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(6) {
    background-image: url(../images/meditation-image.jpg);
    background-size: cover;
    background-position: center;
}

.img-box h3 {
    color: #fff;
    position: absolute;
    font-weight: bolder;
    bottom: 0;
    left: 30px;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.img-box:hover {
    width: 300px;
    cursor: pointer;
}

.img-box:hover h3 {
    opacity: 1;
    bottom: 25px;
    background-color: rgba(168, 192, 130, .9);
    border-radius: 30px;
    padding: 15px;

}

.techniques-container {
    margin-left: 20%;
    margin-top: 10px;
    max-width: 900px;
    text-align: justify;
}

.techniques-container > h2 {
margin-bottom: 15px;
margin-top: 45px;
}

.techniques-text {
    margin-top: 10px;
}

/* signup form */

.form-section{
    clear: both;
    background-image: url(../images/pexels-jackson-jorvan-605494.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 150px 0 0 0;
    color: #fff;
    background-color: rgba(168, 192, 130, 0.6);
    max-width: 400px;
    position: absolute;
    left: 35%;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
}

.signup-form > h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 30px;
}

.text-input {
    background: transparent;
    color: #fff;
    width: 100%;
    height: 25px;
    margin: 20px 5px;
    border: 1px solid #fff;
    border-radius: 20px;
}

.text-input:hover {
    background: transparent;
    color: #fff;
    width: 100%;
    height: 25px;
    margin: 20px 5px;
    border: 1px solid #fff;
    border-radius: 20px;
    border-color: #a8c082;
}

.join-button {
    margin-top: 40px;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    align-content: center;
    background-color: #fff;
    color: #a8c082;
    font-size: 110%;
    text-align: center;
    display: inline;
}

.join-button:hover {
    background-color: #a8c082;
    color: #fff;
}

.gender-category {
    font-weight: bold;
}

.form-checkbox {
    margin-top: 10px;
}

/* plans */

.card {
    width: 300px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px 10px 10px;
    transition: transform 0.5s;
    background-position: center;
    background-size: cover;
    background-image: url(assets/images/Membership-1.png)
}

.cards {
    margin-top: 400px;
    position: absolute;
    display: inline;
    margin-left: 60px;
}

.card1 {
    background-image: url(../images/Membership-1.png)
}

.card2 {
    background-image: url(../images/Membership-2.png)
}

.card3 {
    background-image: url(../images/Membership-3.png)
}

.card4 {
    background-image: url(../images/Membership-4.png)
}

.card:hover {
    transform: translateY(-10px);
}

.cards-text {
    font-size: 30px;
    display: flex;
    position: absolute;
    margin-top: 150px;
    margin-left: 500px;
    background-color: #a8c082;
    color: #fff;
    width: 400px;
    padding-top: 20px;
    border-radius: 20px;
}

.cards-text > h2 {
    color: #fff;
    text-transform: none;
    text-align: center;
    font-size: 80%;
    margin-bottom: 20px;
    margin-left: 20px;
}

/* thank-you */

.thank-you {
    clear: both;
    background-image: url(../images/pexels-jackson-jorvan-605494.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
}

.thank-you-msg {
    text-align: center;
    font-size: 60px;
    margin-top: 100px;
    padding-top: 100px;
}

.thank-you-text {
    text-align: center;
    font-size: 20px;
    display: flex;
    position: absolute;
    margin-top: 150px;
    margin-left: 400px;
    background-color: #a8c082;
    color: #fff;
    width: 600px;
    height: auto;
    padding: 30px;
    border-radius: 30px;
}

/* media queries */

/* for larger to medium screen size from 1200px adn down */

@media screen and (max-width:1200px){
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 30px;
        line-height: 25px;
    }

    .container-gallery {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }

    footer > h2{
        font-size: 20px;
    }

    .back-video {
        max-width: 1200px;
        margin: 0 auto;
        height:auto
    }

    #cover-text {
        display: none;
    }

    .image-section img  {
        width: 100%;
        height: 450px;
        margin-left: 30px;
        margin-top: 160px;
    }

    .content-section .content .button {
        display: inline-flex;
    }
    
    #pillars > div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
        color: #a8c082;
    }

    #pillars > div > h2 {
        color: #a8c082;
    }

    /* techniques page*/
    .techniques-container {
        width: 75%;
        margin: 0 auto;
    }

    /* benefits page */
   
    #benefits {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #left-about-heading {
        width: 100%;
        float: left;
        padding: 0;
    }

    #right-about-heading {
        width: 100%;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
        margin-bottom: 50px;
    }

    hr {
        display: none;
    }

    #welcome {
    margin-top: 150px;
    font-size: 200%;
    }
    
    /*plans page*/
    
    .cards-text {
    margin-left: 300px;
    }

    .cards {
        margin-top: 300px;
        margin-left: 220px;
    }

}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    .back-video {
        max-width: 950px;
        margin: 0 auto;
        height:auto
    }

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
    
    .gallery {
        max-width: 80%;
    }
    
    .image-section img  {
        display: none;
    }

    .content-section {
        width: 80%;
    }

    .left-about-heading, .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2, .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p, .right-about-heading p {
        text-align: center;
        padding: 0 20px;
    }

    footer > h2{
        margin-left: 0
    }

    
}

/* For small screen sizes below 800px width */
@media screen and (max-width: 800px) {
   
    .back-video {
        max-width: 800px;
        width:100%;
    }

    #photos {
        column-count: 2;
    }

    .cards-text {
        margin-left: 180px;
        }

    .form-section {
        width: 1200px;
        height: 1600px;
    }

    .signup-form {
        left:20%;
    }

}