@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Lato:wght@300&display=swap');

* {
    margin:0;
    padding: 0;
    border: 0;
}

body{
    font-family: Lato, sans-serif;
    font-weight: 800;
    color: #a8c082;
}

/* headings and logo */

h1, h2 {
    font-family: Italiana, sans-serif;
    text-transform: capitalize;
    letter-spacing: 8px;
    color: #a8c082;
}

#logo {
    float: left;
    font-size: 380%;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: #a8c082 solid 2px;
}

.active {
    border-bottom: #a8c082 solid 2px;
}

header #logo {
    width: 150px;
}

/* homepage video and text */

.back-video {
    position: relative;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;

    width: 400px;
    height: 150px;

    padding-top: 30px;
    padding-left: 50px;

    background-color: rgba(168, 192, 130, .7);

    bottom: 30px;
    right: 150px;
    position: absolute;

    border-radius: 5%;
    text-align:center;
}

/* introduction */

.section {
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}

.container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.content-section {
    float: left;
    width: 55%;
}

.image-section {
    float: right;
    width: 40%;
}

.image-section img {
    width: 100%;
    height: auto;
}

.content-section .title {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
}

.content-section .content h3 {
    margin-top: 30px;
    color: #a8c082;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;

}
.content-section .content p {
    margin-top: 30px;
    color: #a8c082;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
}

.content-section .content .button {
    margin-top: 70px;
    text-align: center;
}

.content-section .content .button a {
    background-color: #a8c082;
    padding: 10px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;
}

.content-section .content .button a:hover {
    background-color: #fff;
    color: #a8c082;
}